<div class="container">
	<h1>Sign up</h1>
	<form #signupForm="ngForm" (ngSubmit)="onSubmit(signupForm)">
		<div class="form-group">
			<label for="firstName">Fisrt name</label>
			<input type="text" class="form-control" id="firstName" required (ngModel)="firstName" name="firstName" #firstName="ngModel">
			<show-errors [control]="firstName"></show-errors>
		</div>
		<div class="form-group">
			<label for="lastName">Last name</label>
			<input type="text" class="form-control" id="lastName" required (ngModel)="lastName" name="lastName" #lastName="ngModel">
			<show-errors [control]="lastName"></show-errors>
		</div>
		<div class="form-group">
			<label for="email">Email</label>
			<input type="text" class="form-control" id="email" required (ngModel)="email" name="email" #email="ngModel">
			<show-errors [control]="email"></show-errors>
		</div>
		<div class="form-group">
			<label for="username">Username</label>
			<input type="text" class="form-control" id="username" required (ngModel)="username" name="username" #username="ngModel">
			<show-errors [control]="username"></show-errors>
		</div>
		<div class="form-group">
			<label for="password">Password</label>
			<input type="password" class="form-control" id="password" required (ngModel)="password" name="password" #password="ngModel">
			<show-errors [control]="password"></show-errors>
		</div>
		<button type="submit" class="btn btn-default" [disabled]="!signupForm.valid">Submit</button>
	</form>
</div>
