<div class="container">
	<h1>Add new idea</h1>
	<form #addIdeaForm="ngForm" (ngSubmit)="onSubmit()">
		<div class="form-group">
			<label for="name">Name</label>
			<input type="text" class="form-control" id="name" required [(ngModel)]="model.name" name="name" #name="ngModel">
			<show-errors [control]="name"></show-errors>
		</div>
		<div class="form-group">
			<label for="description">Description</label>
			<input type="text" class="form-control" id="description" [(ngModel)]="model.description" name="description" #description="ngModel">
			<show-errors [control]="description"></show-errors>
		</div>
		<div class="form-group">
			<label for="image">Image</label>
			<input type="text" class="form-control" id="image" [(ngModel)]="model.image" name="image" #image="ngModel">
			<show-errors [control]="image"></show-errors>
		</div>
		<div class="form-group">
			<label for="whereToBuy">Where to buy</label>
			<input type="text" class="form-control" id="whereToBuy" [(ngModel)]="model.whereToBuy" name="whereToBuy" #whereToBuy="ngModel">
			<show-errors [control]="whereToBuy"></show-errors>
		</div>
		<div class="form-group">
			<label for="occasion">Occasion</label>
			<select class="form-control" id="occasion" [(ngModel)]="model.occasion" name="occasion" #occasion="ngModel">
				<option *ngFor="let o of occasions" [value]="o.id">
					{{o.name}}
				</option>
			</select>
			<show-errors [control]="occasion"></show-errors>
		</div>
		<div class="form-group">
			<label for="grantee">For whom</label>
			<select class="form-control" id="grantee" [(ngModel)]="model.grantee" name="grantee" #grantee="ngModel">
				<option *ngFor="let g of grantees" [value]="g.id">
					{{g.name}}
				</option>
			</select>
			<show-errors [control]="grantee"></show-errors>
		</div>
		<button type="submit" class="btn btn-default" [disabled]="!addIdeaForm.valid">Submit</button>
	</form>
</div>
