<nav class="navbar navbar-expand navbar-dark bg-dark fixed-top">
	<a class="navbar-brand" routerLink="/">Gifting</a>
	<a routerLink="/addIdea">Add idea</a>
	<div class="collapse navbar-collapse">
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav navbar-right">
				<li *ngIf="authProfile.isAuthenticated()">
					<span class="welcome">Welcome {{ authProfile.getProfile().currentUser.name }}</span>
				</li>
				<li *ngIf="!authProfile.isAuthenticated()">
					<a [routerLink]="['/login']">Log In</a>
				</li>
				<li *ngIf="!authProfile.isAuthenticated()">
					<a [routerLink]="['/signup']">Register</a>
				</li>
				<li *ngIf="authProfile.isAuthenticated()">
					<a (click)="logOut()">Log Out</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
